{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": ["airbnb-typescript/base", "plugin:prettier/recommended"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.json",
        "sourceType": "module"
    },
    "plugins": ["@typescript-eslint"],
    "rules": {
        "no-console": "off",
        "max-classes-per-file": ["error", 2],
        "max-len": [
            "error",
            {
                "code": 138
            }
        ],
        // "max-lines": ["error", 500],
        "no-plusplus": 0,
        "no-underscore-dangle": 0,
        "class-methods-use-this": 0,
        "one-var": 0,
        // import规则
        "import/prefer-default-export": 0,
        "import/order": [
            "error",
            {
                "newlines-between": "always",
                "alphabetize": { "order": "asc", "caseInsensitive": true },
                "groups": ["builtin", "external", "internal", ["parent", "sibling", "index"]],
                "pathGroups": [
                    {
                        "pattern": "@**/**",
                        "group": "internal",
                        "position": "before"
                    }
                ],
                "pathGroupsExcludedImportTypes": ["builtin"]
            }
        ],
        "import/no-extraneous-dependencies": ["warn", { "packageDir": ["./"] }],
        // ts规则
        "@typescript-eslint/indent": ["error", 4],
        "@typescript-eslint/naming-convention": [
            "error",
            { "selector": "variableLike", "format": ["camelCase", "PascalCase", "snake_case", "UPPER_CASE"] }
        ],
        "@typescript-eslint/no-unused-expressions": [
            "error",
            { "allowShortCircuit": true, "allowTernary": true, "allowTaggedTemplates": true }
        ],
        "radix": ["error", "as-needed"],
        "func-names": ["warn", "never"]
    }
}
